@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html::-webkit-scrollbar{
width: 6px;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
 }
 html::-webkit-scrollbar-thumb{
    background: linear-gradient(rgba(2, 2, 2, 0.411),rgb(172, 172, 172));
    border-radius: 50px;
 }
 .container{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
 }
 .container .main-loader{
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: relative;
    background-color: #eaeaf8;
    display: flex;
    align-items: center;
    justify-content: center;
 }
header{
    width: 100%;
    height: 50px;
    background: #020203FE;
    color: aliceblue;
    padding: 0px 15px;
    position: fixed;
    z-index: 20;

}
.logo-bars{
    width: auto;
    display: flex;
    align-items: center;
    height: 50px;
}
.logo-bars i{
    margin: 0px 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar h3{
    font-weight: 500;
}
.content{
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    top: 50px;
    background: #fff;
}
.topics{
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid grey;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 3px 5px;
   

}
.topics::-webkit-scrollbar{
    height: 2px;
}
.topics::-webkit-scrollbar-track{
    background-color: transparent;
}
.topics::-webkit-scrollbar-thumb{
    background: linear-gradient(to left ,rgba(2, 2, 2, 0.411),rgb(172, 172, 172));
    border-radius: 50px;  
}

.topic-button{
    outline: none;
    border: none;
    width: 150px;
    padding: 5px 15px;
    background: #eaeaf8;
    margin: 5px 8px;
    cursor: pointer;
    border-radius: 3px;
    transition: .1s;
    word-wrap: nowrap;
}
.topic-button:hover{
    background: #1B1212;
    color: #fff;
}
.mainContent{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    /* border: 1px solid; */
    display: flex;
}
.topicView{
    width: 70%;
    height: 100%;
    /* border: 1px solid; */
    padding: 10px 18px;
    overflow-x: scroll;
}
.topicView::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
.topicView::-webkit-scrollbar-track{
    background: transparent;
    
}
.topicView::-webkit-scrollbar-thumb{
   background: rgb(107, 107, 107);
   border-radius: 50px;
}
.alltopics{
    width: 30%;
    height: 100%;
    border-left: 1px solid rgba(128, 128, 128, 0.192);
    background: #fff;
    padding: 10px 15px;
    overflow-y: scroll;
    box-shadow: -2px 10px 15px #00000a2a;
    position: relative;
}
.alltopics #subject{
    margin-bottom: 8px;
}
.alltopics::-webkit-scrollbar{
    width: 5px;
}
.alltopics::-webkit-scrollbar-track{
    background: transparent;
}
.alltopics::-webkit-scrollbar-thumb{
    background: rgb(107, 107, 107);
    border-radius: 50px;
}
.alltopics ul{
    list-style: none;
}
.alltopics ul li{
  cursor: pointer;
  margin: 3px 0px;
  color: blue;
  font-size: .9rem;
  
}

.viewer{
    width: 100%;
    height: auto;
}
.fa-bars{
    display: none;
}



#loader{
width: 90%;
height: 100%;
position: absolute;
top: 0;
display: none;
place-items: center;
}
.dot-wave {
    --uib-size: 47px;
    --uib-speed: 1s;
    --uib-color: rgb(99, 99, 99);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.17);
    padding-top: calc(var(--uib-size) * 0.34);
    position: relative;

    
  }
  
  .dot-wave__dot {
    flex-shrink: 0;
    width: calc(var(--uib-size) * 0.17);
    height: calc(var(--uib-size) * 0.17);
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
  }
  
  .dot-wave__dot:nth-child(1) {
    animation: jump var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.45) infinite;
  }
  
  .dot-wave__dot:nth-child(2) {
    animation: jump var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.3) infinite;
  }
  
  .dot-wave__dot:nth-child(3) {
    animation: jump var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.15) infinite;
  }
  
  .dot-wave__dot:nth-child(4) {
    animation: jump var(--uib-speed) ease-in-out infinite;
  }
  
  @keyframes jump {
    0%,
    100% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-200%);
    }
  }
  





@media screen and (max-width: 876px) {
    .mainContent{
        display: block;
    }
    .topicView{
        width: 100%;
    }
    .alltopics{
        position: absolute;
        top: 0;
        right: -250px;
        transition: .2s ease-out;
        width: 250px; 
        
     
    }
    .fa-bars{
        display: block;
    }
    .collpse{
     
        right: 0;
    }
  
}
/* @media screen and (max-width: 425px) {
    .dot-wave{
        margin-top: 50%;
    }
    .alltopics .dot-wave{
        margin-top: 80%;  
    }
} */

